

*{box-sizing:border-box;}

body {
  font-family:'Times New Roman', Times, serif;
}


.basic-login-container {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  
}
  
  
form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  h2 {
    width: 100%;
    color: grey, 20%;
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken(grey, 5%);
    margin: 0;
    font-weight: 200;
  }
  input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #ffffff;
   
  }


  .forgot {
    color: lighten(blue, 10%);
    line-height: .5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: .75em;
    margin:0;
    padding: 0;
    float: right;
   
  }
 
  .btn-login {
    display: inline-block;
    background: rgb(59, 59, 246);
    border: 1px solid darken(blue, 5%);
    padding: .5em 2em;
    color: white;
    margin-left: -50%;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
   
  }