
*{box-sizing:border-box;}

body {
  font-family:'Times New Roman', Times, serif;
background:fixed;
}


.basic-register-container {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #72fad1;
  position: center;
  margin-top: 1cap;
  top: 100%;
  left: 100%;
 
  }

  form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  h2 {
    width: 100%;
    color: rgb(252, 6, 6), 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.35em;
    display: block;
    background:rgb(128, 128, 128);
    width: 100%;
    text-transform: uppercase;
    padding: 2px;
    margin: 0;
    font-weight: 200;
  }
  input {
    display: block;
    margin: center;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    
  }

  .btn-register {
    display: inline-block;
    background: rgba(1, 1, 27, 0);
    border: 1px solid darken(rgb(205, 205, 247), 5%);
    padding: .5em 2em;
    color: rgb(250, 171, 171);
    margin-left: -5%;
    
  }

  .signIn {
    color: lighten(rgb(26, 0, 0), 10%);
    line-height: .5em;
    position: relative;
    top: 1em;
    text-decoration: none;
    font-size: .80em;
    margin:0;
    padding: 0;
  }
    

