

*{box-sizing:border-box;}

body {
  font-family: 'Verdana';
background-color: aquamarine;
}


.userPost-container {
  width: 50%;
  min-width: 350px;
  max-width: 500px;
  background: #88c5fd;
  position: center;
  
}

  form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  h2 {
    width: 100%;
    color: grey, 20%;
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:grey;
    width: 100%;
  
  }
  input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #f80707;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    
  }

  .mymessage{
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #050000;
    
  }
 
  .btn-postclick {
    display: inline-block;
    background: rgb(246, 165, 59);
    border: 1px solid darken(rgb(255, 0, 234), 5%);
    padding: .5em 2em;
    color: rgb(255, 255, 255);
    margin-left: -5%;
 
    
    
  }

