
.mainflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.firstflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5px;
    margin: auto;

}
.secondflex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;

}


.btn {
    background-color: blueviolet;
}


.btn-primary {
    background-color: rgb(214, 214, 73);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-error {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-update{
    background-color: rgb(2, 103, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn-cancel{
    background-color: rgb(107, 0, 0);
    color: rgb(53, 45, 45);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.edit-btn{
    background-color: rgb(31, 154, 255);
    color: black;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    
}
.delete-btn{
    background-color: rgb(253, 189, 52);
    color: rgb(246, 244, 245);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
